<section>
  <div class="container">
    <h1 class="mb-4">Gallery</h1>
    <div class="row">
      <div class="col-12">
        <div *ngFor="let photo of Photos" class="p-3 mb-2">
          <div class="row">
            <div class="col-auto">
              <img class="item" [src]="photo.download_url"/>
            </div>
            <div class="col-8">
              <h2>
                #{{photo.id}}-{{photo.author}}
              </h2>
            </div>
          </div>
        </div>
        <div class="lazy-loading-detecter"></div>
      </div>
    </div>
  </div>
</section>
